<div class="my-4 card-gap">
  <div class="card ml-3" style="width: 18rem">
    <!-- <img src="./../../../assets/images/1.jpeg" class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">What is Todo?</h5>
      <p class="card-text">
        A Todo app is a software tool for task management. It helps users
        create, organize, and track tasks with features like due dates,
        priorities, and reminders. Users can collaborate and access tasks across
        devices, aiding productivity and organization. Popular examples include
        Todoist and Trello, ideal for managing to-do lists effectively.
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <!-- <img src="./../../../assets/images/r.jpeg" class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">How it works?</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
