<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">TodoList</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about">About</a>
          </li>
        </ul>
      </div>

      <div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/login"
              (click)="loginUser()"
              >{{ isLoggedIn ? "Logout" : "Login" }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
