<div class="container d-flex justify-content-center align-items-center">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="my-4">
      <h6>Signup with Valid credentials:-</h6>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control input-width"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        name="email"
        required
      />
      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        Email is required.
      </div>
      <div *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">
        Invalid email format.
      </div>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control input-width"
        id="password"
        formControlName="password"
        name="password"
        required
      />
      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        Password is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input
        type="Password"
        class="form-control input-width"
        id="confirmpassword"
        formControlName="confirmPassword"
        name="confirmPassword"
        (click)="setPasswordTouched()"
        required
      />
    </div>
    <div *ngIf="signupForm.hasError('emptyFields') && signupForm.touched">
      Email and password fields cannot be empty.
    </div>
    <div *ngIf="isConfirmPasswordTouched && signupForm.get('confirmPassword')?.hasError('passwordsNotMatching')">
      Passwords do not match.
    </div>
    <div *ngIf="isConfirmPasswordTouched && signupForm.get('confirmPassword')?.valid">
      Passwords matched.
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
